<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL-bBnkP1pGzL9oLRA8mg6epN_5XBTHFw</string>
	<key>GCM_SENDER_ID</key>
	<string>987165186169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.godofplacesgame</string>
	<key>PROJECT_ID</key>
	<string>god-of-places-game-ddglln</string>
	<key>STORAGE_BUCKET</key>
	<string>god-of-places-game-ddglln.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987165186169:ios:da9f4a3ce94743265a9ca8</string>
</dict>
</plist>